VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_CONTATO=
VITE_EMAILJS_TEMPLATE_EXPORTACAO=
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_TEMPLATE_GAME_RESULT=
VITE_EMAILJS_RANKING_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_RANKING=
VITE_EMAILJS_RANKING_PUBLIC_KEY=
VITE_EMAILJS_TEMPLATE_AUDIT=
